# Ignorar todo excepto los archivos que forman parte de la entrega.
*

!.gitignore
!TP1/

# Notebook de Google Colab.
!TP1/deteccion_objetos_mediapipe.ipynb

# Scripts de Python.
!TP1/deteccion_objetos_mediapipe.py
!TP1/detectorRostroConBlur.py

# Imagenes utilizadas para probar la deteccion.
!TP1/Imagenes/
!TP1/Imagenes/**
